@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Ionicons";
  src: url("/assets/fonts/Ionicons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*:focus-visible {
  outline: none !important;
}
